<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="customerDAO" class="src.main.java.com.badzovski.QuickOrder.dao.JdbcCustomerDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="restaurantDAO" class="src.main.java.com.badzovski.QuickOrder.dao.RestaurantJdbc">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="productDAO" class="src.main.java.com.badzovski.QuickOrder.dao.ProductJdbc">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>